<div id="search-background"></div>
<mat-card class="purchase-container">
    <button
            class="back-button"
            mat-mini-fab
            color="accent"
            routerLink="../"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1>Select Seat</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button
            class="normal-button"
            color="primary"
            mat-fab
            extended
    >Purchase
    </button>
</mat-card>