@import "../../variables";

@mixin buttonMixin {
  font-size: 25px !important;
  margin: 17px !important;
  box-shadow: none !important;
  border: 1px solid black !important;
  background-color: white !important;
  color: black !important;
}

.normal-button {
  @include buttonMixin;
}

.normal-button:hover {
  @include buttonMixin;
  border: 1px solid white !important;
  background-color: black !important;
  color: white !important;
}

.primary-login {
  @include buttonMixin;
  color: $primaryColor !important;
}

.primary-login:hover {
  @include buttonMixin;
  border: 1px solid white !important;
  background-color: black !important;
  color: $primaryColor !important;
}
