<div id="about-background"></div>
<mat-card class="about-container">
    <h1>About us</h1>
    <br>
    <br>
    <p>Welcome to our airplane ticket selling application!</p>
    <p>We are dedicated to providing our customers with a seamless and stress-free travel experience. With our user-friendly platform, you can easily browse and book flights to your desired destination at competitive prices. Our team of travel experts is committed to ensuring that you receive the best customer service and assistance throughout your journey. We strive to make your travel dreams a reality and look forward to serving you.</p>
</mat-card>