<nav class="custom-top-nav navbar fixed-top navbar-expand-lg navbar-dark">

    <a
            class="navbar-brand"
            href="#"
    >
        <img
                src="assets/logo-no-background.svg"
                alt="Airlliant"
                width="143"
                height="80"
        >
    </a>
    <div class="nav-right-button-container">
        <button
                class="normal-button"
                color="primary"
                mat-fab
                extended
                routerLink="home"
        >
            Home
        </button>
        <button
                class="normal-button"
                color="primary"
                mat-fab
                extended
                routerLink="search"
        >
            Search
        </button>
        <button
                class="normal-button"
                color="primary"
                mat-fab
                extended
                routerLink="tickets"
        >
            My Tickets
        </button>
        <button
                class="normal-button"
                color="primary"
                mat-fab
                extended
                routerLink="about"
        >
            About
        </button>
        <button
                [hidden]="navService.userLoggedIn"
                class="primary-login"
                color="primary"
                mat-fab
                extended
                routerLink="login"
        >
            Login
        </button>
        <button
                [hidden]="!navService.userLoggedIn"
                class="primary-login"
                color="primary"
                mat-fab
                extended
                (click)="logout()"
        >
            Logout
        </button>
    </div>

</nav>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom navbar-expand-lg footer-nav"></nav>



