.nav-right-button-container {
  display: flex;
  width: 490px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.custom-top-nav {
  z-index: 2;
  height: 105px;
  background-color: black;
  overflow: hidden;
}

.footer-nav {
  z-index: 2;
  height: 69px;
  background-color: black;
}

