<div id="search-background"></div>
<mat-card class="select-seats-card">


    <button
            class="back-button"
            mat-mini-fab
            color="accent"
            routerLink="../"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <br>
    <h1>Select Seat</h1>
    <div class="select-seats-container">

        <div class="seats-container-a">
            <button class="seat-button" mat-button id="seat-row-a-seat1">A1</button>
            <button class="seat-button" mat-button id="seat-row-a-seat2">A2</button>
            <button class="seat-button" mat-button id="seat-row-a-seat3">A3</button>
            <button class="seat-button" mat-button id="seat-row-a-seat4">A4</button>
            <button class="seat-button" mat-button id="seat-row-a-seat5">A5</button>
            <button class="seat-button" mat-button id="seat-row-a-seat6">A6</button>
            <button class="seat-button" mat-button id="seat-row-a-seat7">A7</button>
            <button class="seat-button" mat-button id="seat-row-a-seat8">A8</button>
            <button class="seat-button" mat-button id="seat-row-a-seat9">A9</button>
            <button class="seat-button" mat-button id="seat-row-a-seat10">A10</button>
            <button class="seat-button" mat-button id="seat-row-a-seat11">A11</button>
            <button class="seat-button" mat-button id="seat-row-a-seat12">A12</button>
            <button class="seat-button" mat-button id="seat-row-a-seat13">A13</button>
            <button class="seat-button" mat-button id="seat-row-a-seat14">A14</button>
            <button class="seat-button" mat-button id="seat-row-a-seat15">A15</button>
            <button class="seat-button" mat-button id="seat-row-a-seat16">A16</button>
            <button class="seat-button" mat-button id="seat-row-a-seat17">A17</button>
            <button class="seat-button" mat-button id="seat-row-a-seat18">A18</button>
            <button class="seat-button" mat-button id="seat-row-a-seat19">A19</button>
            <button class="seat-button" mat-button id="seat-row-a-seat20">A20</button>
            <button class="seat-button" mat-button id="seat-row-a-seat21">A21</button>
            <button class="seat-button" mat-button id="seat-row-a-seat22">A22</button>
            <button class="seat-button" mat-button id="seat-row-a-seat23">A23</button>
        </div>
        <div class="seats-container-b">
            <button class="seat-button" mat-button id="seat-row-b-seat1">B1</button>
            <button class="seat-button" mat-button id="seat-row-b-seat2">B2</button>
            <button class="seat-button" mat-button id="seat-row-b-seat3">B3</button>
            <button class="seat-button" mat-button id="seat-row-b-seat4">B4</button>
            <button class="seat-button" mat-button id="seat-row-b-seat5">B5</button>
            <button class="seat-button" mat-button id="seat-row-b-seat6">B6</button>
            <button class="seat-button" mat-button id="seat-row-b-seat7">B7</button>
            <button class="seat-button" mat-button id="seat-row-b-seat8">B8</button>
            <button class="seat-button" mat-button id="seat-row-b-seat9">B9</button>
            <button class="seat-button" mat-button id="seat-row-b-seat10">B10</button>
            <button class="seat-button" mat-button id="seat-row-b-seat11">B11</button>
            <button class="seat-button" mat-button id="seat-row-b-seat12">B12</button>
            <button class="seat-button" mat-button id="seat-row-b-seat13">B13</button>
            <button class="seat-button" mat-button id="seat-row-b-seat14">B14</button>
            <button class="seat-button" mat-button id="seat-row-b-seat15">B15</button>
            <button class="seat-button" mat-button id="seat-row-b-seat16">B16</button>
            <button class="seat-button" mat-button id="seat-row-b-seat17">B17</button>
            <button class="seat-button" mat-button id="seat-row-b-seat18">B18</button>
            <button class="seat-button" mat-button id="seat-row-b-seat19">B19</button>
            <button class="seat-button" mat-button id="seat-row-b-seat20">B20</button>
            <button class="seat-button" mat-button id="seat-row-b-seat21">B21</button>
            <button class="seat-button" mat-button id="seat-row-b-seat22">B22</button>
            <button class="seat-button" mat-button id="seat-row-b-seat23">B23</button>
        </div>
    </div>
    <button
            class="normal-button"
            color="primary"
            mat-fab
            extended
    >Search
    </button>

</mat-card>