<div id="search-background"></div>
<mat-card class="select-seats-card">


    <button
            class="back-button"
            mat-mini-fab
            color="accent"
            routerLink="../"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <br>
    <h1>Select Seat</h1>
    <div class="select-seats-container">
        <div id="seats-container-a">
            <button class="seat-button" mat-button id="seat-row-a-seat1">A1</button>
            <button class="seat-button" mat-button id="seat-row-a-seat2">A2</button>
            <button class="seat-button" mat-button id="seat-row-a-seat3">A3</button>
            <button class="seat-button" mat-button id="seat-row-a-seat4">A4</button>
            <button class="seat-button" mat-button id="seat-row-a-seat5">A5</button>
            <button class="seat-button" mat-button id="seat-row-a-seat6">A6</button>
            <button class="seat-button" mat-button id="seat-row-a-seat7">A7</button>
            <button class="seat-button" mat-button id="seat-row-a-seat8">A8</button>
            <button class="seat-button" mat-button id="seat-row-a-seat9">A9</button>
            <button class="seat-button" mat-button id="seat-row-a-seat10">A10</button>
            <button class="seat-button" mat-button id="seat-row-a-seat11">A11</button>
            <button class="seat-button" mat-button id="seat-row-a-seat12">A12</button>
            <button class="seat-button" mat-button id="seat-row-a-seat13">A13</button>
            <button class="seat-button" mat-button id="seat-row-a-seat14">A14</button>
            <button class="seat-button" mat-button id="seat-row-a-seat15">A15</button>
            <button class="seat-button" mat-button id="seat-row-a-seat16">A16</button>
            <button class="seat-button" mat-button id="seat-row-a-seat17">A17</button>
            <button class="seat-button" mat-button id="seat-row-a-seat18">A18</button>
            <button class="seat-button" mat-button id="seat-row-a-seat19">A19</button>
            <button class="seat-button" mat-button id="seat-row-a-seat20">A20</button>
            <button class="seat-button" mat-button id="seat-row-a-seat21">A21</button>
            <button class="seat-button" mat-button id="seat-row-a-seat22">A22</button>
            <button class="seat-button" mat-button id="seat-row-a-seat23">A23</button>
        </div>
        <div id="seats-container-b">
            <button class="seat-button" mat-button id="seat-row-b-seat1">B1</button>
            <button class="seat-button" mat-button id="seat-row-b-seat2">B2</button>
            <button class="seat-button" mat-button id="seat-row-b-seat3">B3</button>
            <button class="seat-button" mat-button id="seat-row-b-seat4">B4</button>
            <button class="seat-button" mat-button id="seat-row-b-seat5">B5</button>
            <button class="seat-button" mat-button id="seat-row-b-seat6">B6</button>
            <button class="seat-button" mat-button id="seat-row-b-seat7">B7</button>
            <button class="seat-button" mat-button id="seat-row-b-seat8">B8</button>
            <button class="seat-button" mat-button id="seat-row-b-seat9">B9</button>
            <button class="seat-button" mat-button id="seat-row-b-seat10">B10</button>
            <button class="seat-button" mat-button id="seat-row-b-seat11">B11</button>
            <button class="seat-button" mat-button id="seat-row-b-seat12">B12</button>
            <button class="seat-button" mat-button id="seat-row-b-seat13">B13</button>
            <button class="seat-button" mat-button id="seat-row-b-seat14">B14</button>
            <button class="seat-button" mat-button id="seat-row-b-seat15">B15</button>
            <button class="seat-button" mat-button id="seat-row-b-seat16">B16</button>
            <button class="seat-button" mat-button id="seat-row-b-seat17">B17</button>
            <button class="seat-button" mat-button id="seat-row-b-seat18">B18</button>
            <button class="seat-button" mat-button id="seat-row-b-seat19">B19</button>
            <button class="seat-button" mat-button id="seat-row-b-seat20">B20</button>
            <button class="seat-button" mat-button id="seat-row-b-seat21">B21</button>
            <button class="seat-button" mat-button id="seat-row-b-seat22">B22</button>
            <button class="seat-button" mat-button id="seat-row-b-seat23">B23</button>
        </div>
        <div id="seats-container-c">
            <button class="seat-button" mat-button id="seat-row-c-seat1">C1</button>
            <button class="seat-button" mat-button id="seat-row-c-seat2">C2</button>
            <button class="seat-button" mat-button id="seat-row-c-seat3">C3</button>
            <button class="seat-button" mat-button id="seat-row-c-seat4">C4</button>
            <button class="seat-button" mat-button id="seat-row-c-seat5">C5</button>
            <button class="seat-button" mat-button id="seat-row-c-seat6">C6</button>
            <button class="seat-button" mat-button id="seat-row-c-seat7">C7</button>
            <button class="seat-button" mat-button id="seat-row-c-seat8">C8</button>
            <button class="seat-button" mat-button id="seat-row-c-seat9">C9</button>
            <button class="seat-button" mat-button id="seat-row-c-seat10">C10</button>
            <button class="seat-button" mat-button id="seat-row-c-seat11">C11</button>
            <button class="seat-button" mat-button id="seat-row-c-seat12">C12</button>
            <button class="seat-button" mat-button id="seat-row-c-seat13">C13</button>
            <button class="seat-button" mat-button id="seat-row-c-seat14">C14</button>
            <button class="seat-button" mat-button id="seat-row-c-seat15">C15</button>
            <button class="seat-button" mat-button id="seat-row-c-seat16">C16</button>
            <button class="seat-button" mat-button id="seat-row-c-seat17">C17</button>
            <button class="seat-button" mat-button id="seat-row-c-seat18">C18</button>
            <button class="seat-button" mat-button id="seat-row-c-seat19">C19</button>
            <button class="seat-button" mat-button id="seat-row-c-seat20">C20</button>
            <button class="seat-button" mat-button id="seat-row-c-seat21">C21</button>
            <button class="seat-button" mat-button id="seat-row-c-seat22">C22</button>
            <button class="seat-button" mat-button id="seat-row-c-seat23">C23</button>
        </div>
        <div id="seats-container-d">
            <button class="seat-button" mat-button id="seat-row-d-seat1">D1</button>
            <button class="seat-button" mat-button id="seat-row-d-seat2">D2</button>
            <button class="seat-button" mat-button id="seat-row-d-seat3">D3</button>
            <button class="seat-button" mat-button id="seat-row-d-seat4">D4</button>
            <button class="seat-button" mat-button id="seat-row-d-seat5">D5</button>
            <button class="seat-button" mat-button id="seat-row-d-seat6">D6</button>
            <button class="seat-button" mat-button id="seat-row-d-seat7">D7</button>
            <button class="seat-button" mat-button id="seat-row-d-seat8">D8</button>
            <button class="seat-button" mat-button id="seat-row-d-seat9">D9</button>
            <button class="seat-button" mat-button id="seat-row-d-seat10">D10</button>
            <button class="seat-button" mat-button id="seat-row-d-seat11">D11</button>
            <button class="seat-button" mat-button id="seat-row-d-seat12">D12</button>
            <button class="seat-button" mat-button id="seat-row-d-seat13">D13</button>
            <button class="seat-button" mat-button id="seat-row-d-seat14">D14</button>
            <button class="seat-button" mat-button id="seat-row-d-seat15">D15</button>
            <button class="seat-button" mat-button id="seat-row-d-seat16">D16</button>
            <button class="seat-button" mat-button id="seat-row-d-seat17">D17</button>
            <button class="seat-button" mat-button id="seat-row-d-seat18">D18</button>
            <button class="seat-button" mat-button id="seat-row-d-seat19">D19</button>
            <button class="seat-button" mat-button id="seat-row-d-seat20">D20</button>
            <button class="seat-button" mat-button id="seat-row-d-seat21">D21</button>
            <button class="seat-button" mat-button id="seat-row-d-seat22">D22</button>
            <button class="seat-button" mat-button id="seat-row-d-seat23">D23</button>
        </div>
        <div id="seats-container-e">
            <button class="seat-button" mat-button id="seat-row-e-seat1">E1</button>
            <button class="seat-button" mat-button id="seat-row-e-seat2">E2</button>
            <button class="seat-button" mat-button id="seat-row-e-seat3">E3</button>
            <button class="seat-button" mat-button id="seat-row-e-seat4">E4</button>
            <button class="seat-button" mat-button id="seat-row-e-seat5">E5</button>
            <button class="seat-button" mat-button id="seat-row-e-seat6">E6</button>
            <button class="seat-button" mat-button id="seat-row-e-seat7">E7</button>
            <button class="seat-button" mat-button id="seat-row-e-seat8">E8</button>
            <button class="seat-button" mat-button id="seat-row-e-seat9">E9</button>
            <button class="seat-button" mat-button id="seat-row-e-seat10">E10</button>
            <button class="seat-button" mat-button id="seat-row-e-seat11">E11</button>
            <button class="seat-button" mat-button id="seat-row-e-seat12">E12</button>
            <button class="seat-button" mat-button id="seat-row-e-seat13">E13</button>
            <button class="seat-button" mat-button id="seat-row-e-seat14">E14</button>
            <button class="seat-button" mat-button id="seat-row-e-seat15">E15</button>
            <button class="seat-button" mat-button id="seat-row-e-seat16">E16</button>
            <button class="seat-button" mat-button id="seat-row-e-seat17">E17</button>
            <button class="seat-button" mat-button id="seat-row-e-seat18">E18</button>
            <button class="seat-button" mat-button id="seat-row-e-seat19">E19</button>
            <button class="seat-button" mat-button id="seat-row-e-seat20">E20</button>
            <button class="seat-button" mat-button id="seat-row-e-seat21">E21</button>
            <button class="seat-button" mat-button id="seat-row-e-seat22">E22</button>
            <button class="seat-button" mat-button id="seat-row-e-seat23">E23</button>
        </div>
        <div id="seats-container-f">
            <button class="seat-button" mat-button id="seat-row-f-seat1">F1</button>
            <button class="seat-button" mat-button id="seat-row-f-seat2">F2</button>
            <button class="seat-button" mat-button id="seat-row-f-seat3">F3</button>
            <button class="seat-button" mat-button id="seat-row-f-seat4">F4</button>
            <button class="seat-button" mat-button id="seat-row-f-seat5">F5</button>
            <button class="seat-button" mat-button id="seat-row-f-seat6">F6</button>
            <button class="seat-button" mat-button id="seat-row-f-seat7">F7</button>
            <button class="seat-button" mat-button id="seat-row-f-seat8">F8</button>
            <button class="seat-button" mat-button id="seat-row-f-seat9">F9</button>
            <button class="seat-button" mat-button id="seat-row-f-seat10">F10</button>
            <button class="seat-button" mat-button id="seat-row-f-seat11">F11</button>
            <button class="seat-button" mat-button id="seat-row-f-seat12">F12</button>
            <button class="seat-button" mat-button id="seat-row-f-seat13">F13</button>
            <button class="seat-button" mat-button id="seat-row-f-seat14">F14</button>
            <button class="seat-button" mat-button id="seat-row-f-seat15">F15</button>
            <button class="seat-button" mat-button id="seat-row-f-seat16">F16</button>
            <button class="seat-button" mat-button id="seat-row-f-seat17">F17</button>
            <button class="seat-button" mat-button id="seat-row-f-seat18">F18</button>
            <button class="seat-button" mat-button id="seat-row-f-seat19">F19</button>
            <button class="seat-button" mat-button id="seat-row-f-seat20">F20</button>
            <button class="seat-button" mat-button id="seat-row-f-seat21">F21</button>
            <button class="seat-button" mat-button id="seat-row-f-seat22">F22</button>
            <button class="seat-button" mat-button id="seat-row-f-seat23">F23</button>
        </div>
    </div>
    <button
            class="normal-button"
            color="primary"
            mat-fab
            extended
    >Search
    </button>

</mat-card>