<div id="search-background"></div>
<mat-card class="select-seats-card">

    <button
            class="back-button"
            mat-mini-fab
            color="accent"
            routerLink="../"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <br>
    <h1>Select Seat</h1>
    <mat-button-toggle-group
            name="flightSeats"
            class="select-seats-container"
    >
        <div id="seats-container-a">
            <mat-button-toggle
                    id="seat-row-a-seat1"
                    [disabled]="selectedFlight.seats.seatRowA.seat1"
                    (click)="showSeat('seatRowA', 'seat1')"
            >A1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat2"
                    [disabled]="selectedFlight.seats.seatRowA.seat2"
                    (click)="showSeat('seatRowA', 'seat2')"
            >A2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat3"
                    [disabled]="selectedFlight.seats.seatRowA.seat3"
                    (click)="showSeat('seatRowA', 'seat3')"
            >A3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat4"
                    [disabled]="selectedFlight.seats.seatRowA.seat4"
                    (click)="showSeat('seatRowA', 'seat4')"
            >A4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat5"
                    [disabled]="selectedFlight.seats.seatRowA.seat5"
                    (click)="showSeat('seatRowA', 'seat5')"
            >A5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat6"
                    [disabled]="selectedFlight.seats.seatRowA.seat6"
                    (click)="showSeat('seatRowA', 'seat6')"
            >A6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat7"
                    [disabled]="selectedFlight.seats.seatRowA.seat7"
                    (click)="showSeat('seatRowA', 'seat7')"
            >A7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat8"
                    [disabled]="selectedFlight.seats.seatRowA.seat8"
                    (click)="showSeat('seatRowA', 'seat8')"
            >A8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat9"
                    [disabled]="selectedFlight.seats.seatRowA.seat9"
                    (click)="showSeat('seatRowA', 'seat9')"
            >A9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat10"
                    [disabled]="selectedFlight.seats.seatRowA.seat10"
                    (click)="showSeat('seatRowA', 'seat10')"
            >A10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat11"
                    [disabled]="selectedFlight.seats.seatRowA.seat11"
                    (click)="showSeat('seatRowA', 'seat11')"
            >A11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat12"
                    [disabled]="selectedFlight.seats.seatRowA.seat12"
                    (click)="showSeat('seatRowA', 'seat12')"
            >A12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat13"
                    [disabled]="selectedFlight.seats.seatRowA.seat13"
                    (click)="showSeat('seatRowA', 'seat13')"
            >A13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat14"
                    [disabled]="selectedFlight.seats.seatRowA.seat14"
                    (click)="showSeat('seatRowA', 'seat14')"
            >A14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat15"
                    [disabled]="selectedFlight.seats.seatRowA.seat15"
                    (click)="showSeat('seatRowA', 'seat15')"
            >A15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat16"
                    [disabled]="selectedFlight.seats.seatRowA.seat16"
                    (click)="showSeat('seatRowA', 'seat16')"
            >A16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat17"
                    [disabled]="selectedFlight.seats.seatRowA.seat17"
                    (click)="showSeat('seatRowA', 'seat17')"
            >A17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat18"
                    [disabled]="selectedFlight.seats.seatRowA.seat18"
                    (click)="showSeat('seatRowA', 'seat18')"
            >A18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat19"
                    [disabled]="selectedFlight.seats.seatRowA.seat19"
                    (click)="showSeat('seatRowA', 'seat19')"
            >A19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat20"
                    [disabled]="selectedFlight.seats.seatRowA.seat20"
                    (click)="showSeat('seatRowA', 'seat20')"
            >A20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat21"
                    [disabled]="selectedFlight.seats.seatRowA.seat21"
                    (click)="showSeat('seatRowA', 'seat21')"
            >A21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat22"
                    [disabled]="selectedFlight.seats.seatRowA.seat22"
                    (click)="showSeat('seatRowA', 'seat22')"
            >A22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-a-seat23"
                    [disabled]="selectedFlight.seats.seatRowA.seat23"
                    (click)="showSeat('seatRowA', 'seat23')"
            >A23
            </mat-button-toggle>
        </div>
        <div id="seats-container-b">
            <mat-button-toggle
                    id="seat-row-b-seat1"
                    [disabled]="selectedFlight.seats.seatRowB.seat1"
                    (click)="showSeat('seatRowB', 'seat1')"
            >B1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat2"
                    [disabled]="selectedFlight.seats.seatRowB.seat2"
                    (click)="showSeat('seatRowB', 'seat2')"
            >B2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat3"
                    [disabled]="selectedFlight.seats.seatRowB.seat3"
                    (click)="showSeat('seatRowB', 'seat3')"
            >B3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat4"
                    [disabled]="selectedFlight.seats.seatRowB.seat4"
                    (click)="showSeat('seatRowB', 'seat4')"
            >B4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat5"
                    [disabled]="selectedFlight.seats.seatRowB.seat5"
                    (click)="showSeat('seatRowB', 'seat5')"
            >B5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat6"
                    [disabled]="selectedFlight.seats.seatRowB.seat6"
                    (click)="showSeat('seatRowB', 'seat6')"
            >B6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat7"
                    [disabled]="selectedFlight.seats.seatRowB.seat7"
                    (click)="showSeat('seatRowB', 'seat7')"
            >B7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat8"
                    [disabled]="selectedFlight.seats.seatRowB.seat8"
                    (click)="showSeat('seatRowB', 'seat8')"
            >B8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat9"
                    [disabled]="selectedFlight.seats.seatRowB.seat9"
                    (click)="showSeat('seatRowB', 'seat9')"
            >B9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat10"
                    [disabled]="selectedFlight.seats.seatRowB.seat10"
                    (click)="showSeat('seatRowB', 'seat10')"
            >B10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat11"
                    [disabled]="selectedFlight.seats.seatRowB.seat11"
                    (click)="showSeat('seatRowB', 'seat11')"
            >B11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat12"
                    [disabled]="selectedFlight.seats.seatRowB.seat12"
                    (click)="showSeat('seatRowB', 'seat12')"
            >B12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat13"
                    [disabled]="selectedFlight.seats.seatRowB.seat13"
                    (click)="showSeat('seatRowB', 'seat13')"
            >B13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat14"
                    [disabled]="selectedFlight.seats.seatRowB.seat14"
                    (click)="showSeat('seatRowB', 'seat14')"
            >B14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat15"
                    [disabled]="selectedFlight.seats.seatRowB.seat15"
                    (click)="showSeat('seatRowB', 'seat15')"
            >B15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat16"
                    [disabled]="selectedFlight.seats.seatRowB.seat16"
                    (click)="showSeat('seatRowB', 'seat16')"
            >B16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat17"
                    [disabled]="selectedFlight.seats.seatRowB.seat17"
                    (click)="showSeat('seatRowB', 'seat17')"
            >B17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat18"
                    [disabled]="selectedFlight.seats.seatRowB.seat18"
                    (click)="showSeat('seatRowB', 'seat18')"
            >B18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat19"
                    [disabled]="selectedFlight.seats.seatRowB.seat19"
                    (click)="showSeat('seatRowB', 'seat19')"
            >B19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat20"
                    [disabled]="selectedFlight.seats.seatRowB.seat20"
                    (click)="showSeat('seatRowB', 'seat20')"
            >B20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat21"
                    [disabled]="selectedFlight.seats.seatRowB.seat21"
                    (click)="showSeat('seatRowB', 'seat21')"
            >B21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat22"
                    [disabled]="selectedFlight.seats.seatRowB.seat22"
                    (click)="showSeat('seatRowB', 'seat22')"
            >B22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-b-seat23"
                    [disabled]="selectedFlight.seats.seatRowB.seat23"
                    (click)="showSeat('seatRowB', 'seat23')"
            >B23
            </mat-button-toggle>
        </div>
        <div id="seats-container-c">
            <mat-button-toggle
                    id="seat-row-c-seat1"
                    [disabled]="selectedFlight.seats.seatRowC.seat1"
                    (click)="showSeat('seatRowC', 'seat1')"
            >C1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat2"
                    [disabled]="selectedFlight.seats.seatRowC.seat2"
                    (click)="showSeat('seatRowC', 'seat2')"
            >C2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat3"
                    [disabled]="selectedFlight.seats.seatRowC.seat3"
                    (click)="showSeat('seatRowC', 'seat3')"
            >C3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat4"
                    [disabled]="selectedFlight.seats.seatRowC.seat4"
                    (click)="showSeat('seatRowC', 'seat4')"
            >C4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat5"
                    [disabled]="selectedFlight.seats.seatRowC.seat5"
                    (click)="showSeat('seatRowC', 'seat5')"
            >C5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat6"
                    [disabled]="selectedFlight.seats.seatRowC.seat6"
                    (click)="showSeat('seatRowC', 'seat6')"
            >C6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat7"
                    [disabled]="selectedFlight.seats.seatRowC.seat7"
                    (click)="showSeat('seatRowC', 'seat7')"
            >C7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat8"
                    [disabled]="selectedFlight.seats.seatRowC.seat8"
                    (click)="showSeat('seatRowC', 'seat8')"
            >C8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat9"
                    [disabled]="selectedFlight.seats.seatRowC.seat9"
                    (click)="showSeat('seatRowC', 'seat9')"
            >C9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat10"
                    [disabled]="selectedFlight.seats.seatRowC.seat10"
                    (click)="showSeat('seatRowC', 'seat10')"
            >C10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat11"
                    [disabled]="selectedFlight.seats.seatRowC.seat11"
                    (click)="showSeat('seatRowC', 'seat11')"
            >C11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat12"
                    [disabled]="selectedFlight.seats.seatRowC.seat12"
                    (click)="showSeat('seatRowC', 'seat12')"
            >C12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat13"
                    [disabled]="selectedFlight.seats.seatRowC.seat13"
                    (click)="showSeat('seatRowC', 'seat13')"
            >C13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat14"
                    [disabled]="selectedFlight.seats.seatRowC.seat14"
                    (click)="showSeat('seatRowC', 'seat14')"
            >C14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat15"
                    [disabled]="selectedFlight.seats.seatRowC.seat15"
                    (click)="showSeat('seatRowC', 'seat15')"
            >C15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat16"
                    [disabled]="selectedFlight.seats.seatRowC.seat16"
                    (click)="showSeat('seatRowC', 'seat16')"
            >C16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat17"
                    [disabled]="selectedFlight.seats.seatRowC.seat17"
                    (click)="showSeat('seatRowC', 'seat17')"
            >C17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat18"
                    [disabled]="selectedFlight.seats.seatRowC.seat18"
                    (click)="showSeat('seatRowC', 'seat18')"
            >C18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat19"
                    [disabled]="selectedFlight.seats.seatRowC.seat19"
                    (click)="showSeat('seatRowC', 'seat19')"
            >C19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat20"
                    [disabled]="selectedFlight.seats.seatRowC.seat20"
                    (click)="showSeat('seatRowC', 'seat20')"
            >C20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat21"
                    [disabled]="selectedFlight.seats.seatRowC.seat21"
                    (click)="showSeat('seatRowC', 'seat21')"
            >C21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat22"
                    [disabled]="selectedFlight.seats.seatRowC.seat22"
                    (click)="showSeat('seatRowC', 'seat22')"
            >C22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-c-seat23"
                    [disabled]="selectedFlight.seats.seatRowC.seat23"
                    (click)="showSeat('seatRowC', 'seat23')"
            >C23
            </mat-button-toggle>
        </div>
        <div id="seats-container-d">
            <mat-button-toggle
                    id="seat-row-d-seat1"
                    [disabled]="selectedFlight.seats.seatRowD.seat1"
                    (click)="showSeat('seatRowD', 'seat1')"
            >D1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat2"
                    [disabled]="selectedFlight.seats.seatRowD.seat2"
                    (click)="showSeat('seatRowD', 'seat2')"
            >D2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat3"
                    [disabled]="selectedFlight.seats.seatRowD.seat3"
                    (click)="showSeat('seatRowD', 'seat3')"
            >D3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat4"
                    [disabled]="selectedFlight.seats.seatRowD.seat4"
                    (click)="showSeat('seatRowD', 'seat4')"
            >D4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat5"
                    [disabled]="selectedFlight.seats.seatRowD.seat5"
                    (click)="showSeat('seatRowD', 'seat5')"
            >D5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat6"
                    [disabled]="selectedFlight.seats.seatRowD.seat6"
                    (click)="showSeat('seatRowD', 'seat6')"
            >D6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat7"
                    [disabled]="selectedFlight.seats.seatRowD.seat7"
                    (click)="showSeat('seatRowD', 'seat7')"
            >D7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat8"
                    [disabled]="selectedFlight.seats.seatRowD.seat8"
                    (click)="showSeat('seatRowD', 'seat8')"
            >D8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat9"
                    [disabled]="selectedFlight.seats.seatRowD.seat9"
                    (click)="showSeat('seatRowD', 'seat9')"
            >D9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat10"
                    [disabled]="selectedFlight.seats.seatRowD.seat10"
                    (click)="showSeat('seatRowD', 'seat10')"
            >D10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat11"
                    [disabled]="selectedFlight.seats.seatRowD.seat11"
                    (click)="showSeat('seatRowD', 'seat11')"
            >D11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat12"
                    [disabled]="selectedFlight.seats.seatRowD.seat12"
                    (click)="showSeat('seatRowD', 'seat12')"
            >D12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat13"
                    [disabled]="selectedFlight.seats.seatRowD.seat13"
                    (click)="showSeat('seatRowD', 'seat13')"
            >D13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat14"
                    [disabled]="selectedFlight.seats.seatRowD.seat14"
                    (click)="showSeat('seatRowD', 'seat14')"
            >D14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat15"
                    [disabled]="selectedFlight.seats.seatRowD.seat15"
                    (click)="showSeat('seatRowD', 'seat15')"
            >D15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat16"
                    [disabled]="selectedFlight.seats.seatRowD.seat16"
                    (click)="showSeat('seatRowD', 'seat16')"
            >D16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat17"
                    [disabled]="selectedFlight.seats.seatRowD.seat17"
                    (click)="showSeat('seatRowD', 'seat17')"
            >D17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat18"
                    [disabled]="selectedFlight.seats.seatRowD.seat18"
                    (click)="showSeat('seatRowD', 'seat18')"
            >D18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat19"
                    [disabled]="selectedFlight.seats.seatRowD.seat19"
                    (click)="showSeat('seatRowD', 'seat19')"
            >D19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat20"
                    [disabled]="selectedFlight.seats.seatRowD.seat20"
                    (click)="showSeat('seatRowD', 'seat20')"
            >D20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat21"
                    [disabled]="selectedFlight.seats.seatRowD.seat21"
                    (click)="showSeat('seatRowD', 'seat21')"
            >D21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat22"
                    [disabled]="selectedFlight.seats.seatRowD.seat22"
                    (click)="showSeat('seatRowD', 'seat22')"
            >D22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-d-seat23"
                    [disabled]="selectedFlight.seats.seatRowD.seat23"
                    (click)="showSeat('seatRowD', 'seat23')"
            >D23
            </mat-button-toggle>
        </div>
        <div id="seats-container-e">
            <mat-button-toggle
                    id="seat-row-e-seat1"
                    [disabled]="selectedFlight.seats.seatRowE.seat1"
                    (click)="showSeat('seatRowE', 'seat1')"
            >E1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat2"
                    [disabled]="selectedFlight.seats.seatRowE.seat2"
                    (click)="showSeat('seatRowE', 'seat2')"
            >E2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat3"
                    [disabled]="selectedFlight.seats.seatRowE.seat3"
                    (click)="showSeat('seatRowE', 'seat3')"
            >E3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat4"
                    [disabled]="selectedFlight.seats.seatRowE.seat4"
                    (click)="showSeat('seatRowE', 'seat4')"
            >E4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat5"
                    [disabled]="selectedFlight.seats.seatRowE.seat5"
                    (click)="showSeat('seatRowE', 'seat5')"
            >E5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat6"
                    [disabled]="selectedFlight.seats.seatRowE.seat6"
                    (click)="showSeat('seatRowE', 'seat6')"
            >E6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat7"
                    [disabled]="selectedFlight.seats.seatRowE.seat7"
                    (click)="showSeat('seatRowE', 'seat7')"
            >E7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat8"
                    [disabled]="selectedFlight.seats.seatRowE.seat8"
                    (click)="showSeat('seatRowE', 'seat8')"
            >E8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat9"
                    [disabled]="selectedFlight.seats.seatRowE.seat9"
                    (click)="showSeat('seatRowE', 'seat9')"
            >E9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat10"
                    [disabled]="selectedFlight.seats.seatRowE.seat10"
                    (click)="showSeat('seatRowE', 'seat10')"
            >E10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat11"
                    [disabled]="selectedFlight.seats.seatRowE.seat11"
                    (click)="showSeat('seatRowE', 'seat11')"
            >E11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat12"
                    [disabled]="selectedFlight.seats.seatRowE.seat12"
                    (click)="showSeat('seatRowE', 'seat12')"
            >E12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat13"
                    [disabled]="selectedFlight.seats.seatRowE.seat13"
                    (click)="showSeat('seatRowE', 'seat13')"
            >E13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat14"
                    [disabled]="selectedFlight.seats.seatRowE.seat14"
                    (click)="showSeat('seatRowE', 'seat14')"
            >E14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat15"
                    [disabled]="selectedFlight.seats.seatRowE.seat15"
                    (click)="showSeat('seatRowE', 'seat15')"
            >E15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat16"
                    [disabled]="selectedFlight.seats.seatRowE.seat16"
                    (click)="showSeat('seatRowE', 'seat16')"
            >E16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat17"
                    [disabled]="selectedFlight.seats.seatRowE.seat17"
                    (click)="showSeat('seatRowE', 'seat17')"
            >E17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat18"
                    [disabled]="selectedFlight.seats.seatRowE.seat18"
                    (click)="showSeat('seatRowE', 'seat18')"
            >E18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat19"
                    [disabled]="selectedFlight.seats.seatRowE.seat19"
                    (click)="showSeat('seatRowE', 'seat19')"
            >E19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat20"
                    [disabled]="selectedFlight.seats.seatRowE.seat20"
                    (click)="showSeat('seatRowE', 'seat20')"
            >E20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat21"
                    [disabled]="selectedFlight.seats.seatRowE.seat21"
                    (click)="showSeat('seatRowE', 'seat21')"
            >E21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat22"
                    [disabled]="selectedFlight.seats.seatRowE.seat22"
                    (click)="showSeat('seatRowE', 'seat22')"
            >E22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-e-seat23"
                    [disabled]="selectedFlight.seats.seatRowE.seat23"
                    (click)="showSeat('seatRowE', 'seat23')"
            >E23
            </mat-button-toggle>
        </div>
        <div id="seats-container-f">
            <mat-button-toggle
                    id="seat-row-f-seat1"
                    [disabled]="selectedFlight.seats.seatRowF.seat1"
                    (click)="showSeat('seatRowF', 'seat1')"
            >F1
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat2"
                    [disabled]="selectedFlight.seats.seatRowF.seat2"
                    (click)="showSeat('seatRowF', 'seat2')"
            >F2
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat3"
                    [disabled]="selectedFlight.seats.seatRowF.seat3"
                    (click)="showSeat('seatRowF', 'seat3')"
            >F3
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat4"
                    [disabled]="selectedFlight.seats.seatRowF.seat4"
                    (click)="showSeat('seatRowF', 'seat4')"
            >F4
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat5"
                    [disabled]="selectedFlight.seats.seatRowF.seat5"
                    (click)="showSeat('seatRowF', 'seat5')"
            >F5
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat6"
                    [disabled]="selectedFlight.seats.seatRowF.seat6"
                    (click)="showSeat('seatRowF', 'seat6')"
            >F6
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat7"
                    [disabled]="selectedFlight.seats.seatRowF.seat7"
                    (click)="showSeat('seatRowF', 'seat7')"
            >F7
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat8"
                    [disabled]="selectedFlight.seats.seatRowF.seat8"
                    (click)="showSeat('seatRowF', 'seat8')"
            >F8
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat9"
                    [disabled]="selectedFlight.seats.seatRowF.seat9"
                    (click)="showSeat('seatRowF', 'seat9')"
            >F9
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat10"
                    [disabled]="selectedFlight.seats.seatRowF.seat10"
                    (click)="showSeat('seatRowF', 'seat10')"
            >F10
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat11"
                    [disabled]="selectedFlight.seats.seatRowF.seat11"
                    (click)="showSeat('seatRowF', 'seat11')"
            >F11
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat12"
                    [disabled]="selectedFlight.seats.seatRowF.seat12"
                    (click)="showSeat('seatRowF', 'seat12')"
            >F12
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat13"
                    [disabled]="selectedFlight.seats.seatRowF.seat13"
                    (click)="showSeat('seatRowF', 'seat13')"
            >F13
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat14"
                    [disabled]="selectedFlight.seats.seatRowF.seat14"
                    (click)="showSeat('seatRowF', 'seat14')"
            >F14
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat15"
                    [disabled]="selectedFlight.seats.seatRowF.seat15"
                    (click)="showSeat('seatRowF', 'seat15')"
            >F15
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat16"
                    [disabled]="selectedFlight.seats.seatRowF.seat16"
                    (click)="showSeat('seatRowF', 'seat16')"
            >F16
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat17"
                    [disabled]="selectedFlight.seats.seatRowF.seat17"
                    (click)="showSeat('seatRowF', 'seat17')"
            >F17
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat18"
                    [disabled]="selectedFlight.seats.seatRowF.seat18"
                    (click)="showSeat('seatRowF', 'seat18')"
            >F18
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat19"
                    [disabled]="selectedFlight.seats.seatRowF.seat19"
                    (click)="showSeat('seatRowF', 'seat19')"
            >F19
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat20"
                    [disabled]="selectedFlight.seats.seatRowF.seat20"
                    (click)="showSeat('seatRowF', 'seat20')"
            >F20
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat21"
                    [disabled]="selectedFlight.seats.seatRowF.seat21"
                    (click)="showSeat('seatRowF', 'seat21')"
            >F21
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat22"
                    [disabled]="selectedFlight.seats.seatRowF.seat22"
                    (click)="showSeat('seatRowF', 'seat22')"
            >F22
            </mat-button-toggle>
            <mat-button-toggle
                    id="seat-row-f-seat23"
                    [disabled]="selectedFlight.seats.seatRowF.seat23"
                    (click)="showSeat('seatRowF', 'seat23')"
            >F23
            </mat-button-toggle>
        </div>
    </mat-button-toggle-group>
    <button
            class="normal-button"
            color="primary"
            mat-fab
            extended
    >Search
    </button>

</mat-card>