<div id="search-background"></div>
<mat-card class="search-container">


    <h1>Search Flights</h1>
    <br>
    <br>
    <form
            (submit)="search()"
            [formGroup]="searchForm"
    >
        <div>
            <mat-form-field appearance="outline">
                <mat-label>From</mat-label>
                <mat-select
                        formControlName="fromAirport"
                >
                    <mat-option
                            *ngFor="let flight of $flights | async"
                            [value]="flight.fromAirport"
                    >
                        {{flight.fromCountry}}, {{flight.fromAirport}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <mat-select
                        formControlName="toAirport"
                >
                    <mat-option
                            *ngFor="let flight of $flights | async"
                            [value]="flight.toAirport"
                    >
                        {{flight.toCountry}}, {{flight.toAirport}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Departure</mat-label>
                <input
                        matInput
                        formControlName="departure"
                        [matDatepicker]="departure"
                >
                <mat-datepicker-toggle
                        matIconSuffix
                        [for]="departure"
                ></mat-datepicker-toggle>
                <mat-datepicker #departure></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Arrival</mat-label>
                <input
                        matInput
                        formControlName="arrival"
                        [matDatepicker]="arrival"
                >
                <mat-datepicker-toggle
                        matIconSuffix
                        [for]="arrival"
                ></mat-datepicker-toggle>
                <mat-datepicker #arrival></mat-datepicker>
            </mat-form-field>
        </div>


        <div>
            <mat-form-field
                    appearance="outline"
                    class="price-field"
            >
                <mat-label>Min. Price</mat-label>
                <input
                        autocomplete="on"
                        matInput
                        formControlName="minPrice"
                        placeholder="Min. Price"
                        type="number"
                >
            </mat-form-field>
            <mat-form-field
                    appearance="outline"
                    class="price-field"
            >
                <mat-label>Max. Price</mat-label>
                <input
                        autocomplete="on"
                        matInput
                        formControlName="maxPrice"
                        placeholder="Max. Price"
                        type="number"
                >
            </mat-form-field>

        </div>

        <br>

        <div>
            <mat-chip-listbox
                    formControlName="roundTrip"
            >
                <mat-chip-option [selected]="true">One Way</mat-chip-option>
                <mat-chip-option>Round Trip</mat-chip-option>
                <mat-slide-toggle
                        [(ngModel)]="isPriceCheckEnabled"
                        [ngModelOptions]="{standalone: true}"
                        (change)="refreshPriceCheckForm()"
                        name="checkPrice"
                        color="primary"
                >Price range check
                </mat-slide-toggle>
            </mat-chip-listbox>
        </div>

        <button
                [disabled]="searchForm.invalid"
                class="normal-button"
                color="primary"
                mat-fab
                extended
        >Search
        </button>
    </form>


</mat-card>