<div id="login-background"></div>
<mat-card class="register-center-container">
    <br>
    <br>
    <button
            class="back-button"
            mat-mini-fab
            color="accent"
            routerLink="../login"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1>Register</h1>
    <br>
    <br>
    <form
            (ngSubmit)="register($event)"
            [formGroup]="registerForm"
            class="example-form"
    >
        <div>
            <mat-form-field
                    appearance="outline"
                    class="register-field"
            >
                <mat-label>First Name</mat-label>
                <input
                        autocomplete="on"
                        formControlName="firstName"
                        matInput
                        placeholder="First Name"
                        type="text"
                >
            </mat-form-field>
            <mat-form-field
                    appearance="outline"
                    class="register-field"
            >
                <mat-label>Last Name</mat-label>
                <input
                        autocomplete="on"
                        formControlName="lastName"
                        matInput
                        placeholder="Last Name"
                        type="text"
                >
            </mat-form-field>
            <mat-form-field
                    appearance="outline"
                    class="register-field"
            >
                <mat-label>Email</mat-label>
                <input
                        autocomplete="on"
                        formControlName="email"
                        matInput
                        placeholder="Email"
                        type="email"
                >
            </mat-form-field>
            <br>
            <mat-form-field
                    appearance="outline"
                    class="register-field"
            >
                <mat-label>Password</mat-label>
                <input
                        autocomplete="on"
                        formControlName="password"
                        matInput
                        placeholder="Password"
                        type="password"
                >
            </mat-form-field>
            <mat-form-field
                    appearance="outline"
                    class="register-field"
            >
                <mat-label>Confirm Password</mat-label>
                <input
                        autocomplete="on"
                        formControlName="confirmPassword"
                        matInput
                        placeholder="Password"
                        type="password"
                >
            </mat-form-field>
        </div>
        <br>
        <button
                (click)="register($event)"
                [disabled]="registerForm.invalid"
                class="register-button"
                color="primary"
                mat-fab
                extended
        >Register
        </button>
        <br>
    </form>
</mat-card>

